@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@font-face {
  font-family: monsterat;
  src: url(font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: domine;
  src: url(font/Domine-Regular.ttf);
}
a {
  text-decoration: none;
}

.container {
  width: 1186px;
  max-width: 100%;
  margin: auto;
}

.sub-nav {
  background-color: #262829;
}
.sub-nav .row {
  display: flex;
  justify-content: end;
  height: 40px;
  margin: auto;
}
.sub-nav .row .email span {
  display: inline-block;
  color: #c9caca;
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  padding: 10px 3px 19px 96px;
}
.sub-nav .row .phone {
  border-left: 1px solid #505253;
  height: 40px;
  margin-right: 8px;
}
.sub-nav .row .phone span {
  display: inline-block;
  color: #c9caca;
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  padding: 10px 5px 19px 2px;
}
.sub-nav a {
  display: inline-block;
  color: #727779;
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  padding-left: 3px;
}

nav .navbar-nav .nav-link.active,
nav .navbar-nav .show > .nav-link {
  /* color: var(--bs-navbar-active-color); */
  color: #ffac55;
}
nav .logo {
  padding: 15px 0 17px 0;
}
nav .my-color {
  background-color: #ffffff;
}
nav .nav-link {
  display: block;
  padding: 22px 24px 20px 10px !important;
  font-family: monsterat;
  font-size: 14px;
  color: var(--bs-nav-link-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #5a5a5a;
  font-weight: 400 !important;
  line-height: 30px;
}
nav .nav-link:hover {
  color: #ffac55;
}

.sliders .carousel-item img {
  height: 700px;
  object-fit: cover;
  max-width: 100%;
}
.sliders span {
  background-color: #27282a;
  height: 106px;
  margin-top: 297px;
}
.sliders span i {
  font-size: 30px;
  color: #FFF;
}
.sliders .title {
  width: 458px;
  height: 112px;
  border-radius: 0px !important;
}
.sliders .title p {
  font-size: 14px;
  color: #FFF;
  font-family: monsterat;
  padding: 14px 0 0 25px;
  display: inline-block;
}
.sliders .title h1 {
  font-size: 30px;
  color: #FFF;
  font-weight: 400px;
  padding: 0 0 20px 23px;
  display: inline-block;
  line-height: 15px;
}
.sliders .title .card-body {
  background-color: #ffac56;
}
.sliders .col {
  width: 458px;
  height: 408px;
  display: flex;
  flex-wrap: wrap;
}
.sliders .col .card {
  width: 229px;
  background-color: #00a6d3;
  border-radius: 0px !important;
  --bs-card-bg: rgba(255, 255, 255, 0) !important;
}
.sliders .col .card img {
  height: 30px;
  width: 30px;
  color: #FFF;
  max-width: 100%;
}
.sliders .col .card i {
  font-size: 25px;
  color: #FFFFFF;
  padding: 18px 0 0 24px;
}
.sliders .col .card a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: monsterat;
  padding: 0 0 0 24px;
  transition: 1s;
}
.sliders .col .card a:hover {
  transform: scale(1.1);
  z-index: 1;
  color: #0b0c0b;
}
.sliders .col .card a i {
  padding: 0 0 0 48px;
  display: inline-block;
  font-size: 17px;
  transition: 1s;
}
.sliders .col .card a i:hover {
  color: #0b0c0b;
  transform: scale(1.1);
  z-index: 1;
}
.sliders .industrys {
  height: 520px;
  margin-top: 180px;
}
.sliders .card {
  background-color: rgba(255, 255, 255, 0);
}
.sliders .btn {
  background-color: #16d428;
  margin-left: 25px;
  padding: 12px 34px 9px 34px !important;
  display: inline-block;
  border-radius: 26px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: monsterat;
  border: 1px solid #03b6e7;
  margin-top: 32px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}
.sliders .btn:hover {
  transform: scale(1.1);
  z-index: 1;
  background-color: #ffac56;
  color: #000000 !important;
  border: 1px solid #ffac56 !important;
}

.description {
  margin-top: 97px;
}
.description .promo {
  display: flex;
  flex-wrap: wrap;
}
.description .promo .col {
  width: 55%;
  margin-right: 23px;
}
.description .promo .des-img {
  width: 40%;
  height: 270px;
  background-image: url(https://static.wixstatic.com/media/bba46f_905e18cfe5744d5ca506802f7fd51463~mv2.jpeg/v1/fill/w_301,h_201,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Consulting_male_and_female.jpeg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
}
.description .promo .des-img .logo {
  width: 225px;
  position: absolute;
  bottom: -155px;
  left: 121px;
  border: 6px solid #ffffff;
  max-width: 100%;
}
.description .card {
  margin-right: 10px;
  border: none;
}
.description .card .card-body {
  text-align: end;
  padding: 0;
}
.description .card .card-body .tag {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 22px;
  color: #898e8f;
  font-weight: 400;
  font-family: domine;
}
.description .card .card-body h1 {
  color: #343a3b;
  font-size: 32px;
  font-weight: bold;
  font-family: monsterat;
  line-height: 1px;
  padding-bottom: 36px;
}
.description .card .card-body p {
  font-size: 15px;
  line-height: 28px;
  color: #838b8c;
  font-weight: 400;
  font-family: domine;
  text-align: right;
  padding-bottom: 20px;
}
.description .card .card-body .btn {
  background-color: #16d428;
  padding: 6px 26px 6px 26px !important;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: monsterat;
  border-radius: 26px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}
.description .card .card-body .btn:hover {
  background-color: #ffac56;
  color: #000000 !important;
  border: 1px solid #ffac56;
  transform: scale(1.1);
  z-index: 1;
}

.steps {
  margin-top: 84px;
  height: 504px;
  background-color: #e7eff1;
}
.steps .title p {
  padding-top: 92px;
  font-weight: 400;
  font-family: monsterat;
  color: #898e8f;
  font-size: 14px;
  letter-spacing: -1px;
}
.steps .title h1 {
  font-weight: bold;
  font-family: monsterat;
  color: #343a3b;
  line-height: 0;
  padding: 4px 0 40px 0;
}
.steps .card {
  background-color: #e7eff1;
  border: none;
  padding: 0 0 0 0;
  display: block;
  transition: 1s;
}
.steps .card:hover {
  transform: scale(1.1);
  z-index: 1;
}
.steps .card .logo {
  height: 62px;
  width: 62px;
}
.steps .card-body {
  padding: 0 0 0 0;
}
.steps .card-body .number {
  padding: 25px 0 0 0;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #16d428;
  font-weight: 400;
  font-family: monsterat;
  font-weight: bold;
  margin-bottom: 1px;
}
.steps .card-body .card-title {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 33px;
  color: #343a3b;
  font-weight: 700;
  font-family: monsterat;
}
.steps .card-body .card-text {
  font-size: 15px;
  line-height: 28px;
  color: #838b8c;
  font-weight: 400;
  font-family: domine;
  padding-top: 5px !important;
  display: inline-block;
}

.featured .text-uppercase small {
  font-size: 14px;
  letter-spacing: -1px;
  color: #898e8f;
  font-weight: 400;
  font-family: monsterat;
  padding-top: 95px;
  margin-bottom: 1px;
  display: inline-block;
}
.featured .text-uppercase h4 {
  font-size: 20px;
  color: #343a3b;
  font-weight: bold;
  font-family: monsterat;
  padding-top: 1px;
  padding-bottom: 19px;
}
.featured .row {
  display: flex;
  flex-wrap: wrap;
}
.featured .row .col-lg-6.left {
  height: 212px;
}
.featured .row .col-lg-6.left .big-img {
  height: 465px;
  object-fit: cover;
  max-width: 100%;
}
.featured .row .col-lg-6.left .tag-button {
  position: relative;
  top: 20px;
  left: 20px;
}
.featured .row .col-lg-6.left .tag-button a {
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  font-family: monsterat;
  font-weight: 400;
  padding: 5px 26px 4px 25px;
  border: 2px solid #ffac56;
  border-radius: 16px;
  background-color: rgba(255, 173, 86, 0.0392156863);
  transition: 1s;
}
.featured .row .col-lg-6.left .tag-button a:hover {
  transform: scale(1.1);
  z-index: 1;
}
.featured .row .col-lg-12 {
  height: 222px !important;
  padding: 30px 12px;
}
.featured .row .col-lg-12 .tag-button {
  position: relative;
  top: 20px;
  left: 20px;
}
.featured .row .col-lg-12 .tag-button a {
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  font-family: monsterat;
  font-weight: 400;
  padding: 6px 17px 5px 16px;
  border: 2px solid #ffac56;
  border-radius: 16px;
  background-color: rgba(255, 173, 86, 0.0392156863);
  transition: 1s;
}
.featured .row .col-lg-12 .tag-button a:hover {
  transform: scale(1.1);
  z-index: 1;
}
.featured .row .col-lg-12 .medium-img {
  height: 222px;
  object-fit: cover;
  max-width: 100%;
}
.featured .row .col-lg-6 {
  height: 212px;
}
.featured .row .col-lg-6 .right-up1 h4 {
  font-size: 18px;
  font-family: monsterat;
  font-weight: bold;
  color: #FFF;
  padding: 70px 0 0 6px;
}
.featured .row .col-lg-6 .right-up1 p {
  font-size: 15px;
  font-family: domine;
  font-weight: 400;
  color: #FFF;
  padding: 0 16px 0 16px;
}
.featured .row .col-lg-6 .small-img {
  height: 212px;
  max-width: 100%;
}
.featured .row .col-lg-6 .right-up1 {
  background-color: #ffab55;
  height: 212px;
}
.featured .row .col-lg-6 .triangle-up-1 {
  width: 56px;
  height: 56px;
  position: relative;
  border-bottom: 56px solid #f6a149;
  border-right: 56px solid rgba(255, 255, 255, 0);
  top: -56px;
}
.featured .row .col-lg-6 .triangle-up-1 a {
  position: absolute;
  padding-top: 25px;
  padding-left: 10px;
  display: inline-block;
}
.featured .row .col-lg-6 .tag-button {
  position: relative;
  top: 20px;
  left: 20px;
}
.featured .row .col-lg-6 .tag-button a {
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  font-family: monsterat;
  font-weight: 400;
  padding: 6px 17px 5px 16px;
  border: 2px solid #ffac56;
  border-radius: 16px;
  background-color: rgba(255, 173, 86, 0.0392156863);
  transition: 1s;
}
.featured .row .col-lg-6 .tag-button a:hover {
  transform: scale(1.1);
  z-index: 1;
}
.featured .row .triangle {
  width: 56px;
  height: 56px;
  position: relative;
  border-bottom: 56px solid #03b5e7;
  border-right: 56px solid rgba(255, 255, 255, 0);
  top: -56px;
}
.featured .row .triangle a {
  position: absolute;
  padding-top: 25px;
  padding-left: 10px;
  display: inline-block;
  transition: 1s;
}
.featured .row .triangle a:hover {
  transform: scale(1.3);
  z-index: 1;
}

.test {
  margin-top: 335px;
}
.test .carousel-indicators {
  justify-content: flex-end;
  padding-bottom: 98px;
}
.test .carousel-indicators [data-bs-target].active {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  border-radius: 15px;
  border: 5px solid #15d327;
  background-color: #03b5e7;
  opacity: 3;
}
.test .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  border-radius: 15px;
  border: 5px solid #ffffff;
  background-color: #03b5e7;
  opacity: 0.5;
}
.test .carousel-item img {
  height: 520px;
  max-width: 100%;
}
.test .carousel-inner .container hr {
  width: 17px;
  height: 2px;
  color: #ffffff;
  opacity: 0.9;
  margin-left: 110px;
  padding-top: 35px;
}
.test .carousel-inner .container .text-uppercase {
  z-index: 3 !important;
}
.test .carousel-inner .container .text-uppercase P {
  padding: 89px 0 0 0;
  color: #a6ecff;
  font-family: monsterat;
  font-size: 14px;
  font-weight: 400;
}
.test .carousel-inner .container .text-uppercase h1 {
  color: #a6ecff;
  font-weight: 400;
  font-family: monsterat;
  font-size: 20px;
  line-height: 1px;
}
.test .carousel-inner .testimonials-text {
  z-index: 5;
  padding-top: 50px;
}
.test .carousel-inner .testimonials-text .row {
  display: flex;
  flex-wrap: wrap;
}
.test .carousel-inner .testimonials-text .first-img {
  width: 5%;
  padding-top: 8px;
  max-width: 100%;
}
.test .carousel-inner .testimonials-text .second-img {
  width: 5%;
  padding-top: 8px;
  max-width: 100%;
}
.test .carousel-inner .testimonials-text .text {
  width: 87%;
}
.test .carousel-inner .testimonials-text .text p {
  color: #ddf8ff;
  font-size: 15px;
  font-family: domine;
  line-height: 28px;
  padding: 0 54px 0 42px;
}
.test .card {
  width: 25%;
  height: 70px;
  background-color: #03b5e7;
  border: none;
  padding-top: 29px;
}
.test .card .logo {
  border-radius: 50px;
}
.test .card .col-md-8 {
  background-color: #03b5e7;
}
.test .card .col-md-8 h5 {
  font-size: 14px;
  color: #FFFFFF;
  font-family: monsterat;
  font-weight: bold;
}
.test .card .col-md-8 p {
  font-size: 15px;
  color: #ddf8ff;
  font-family: domine;
  line-height: 28px;
  font-weight: 400;
}

.blog-section {
  background-image: url(img/Layer\ 24.png);
  background-repeat: space;
  background-position: right;
  background-color: #e7eff1;
  object-fit: contain;
  max-width: 100%;
}
.blog-section .blog-head .blog-head-text {
  padding: 91px 0 0 0;
}
.blog-section .blog-head .blog-head-text p {
  font-size: 14px;
  letter-spacing: -1px;
  color: #898e8f;
  font-family: monsterat;
  font-weight: 400;
  padding: 0 0 0 0;
}
.blog-section .blog-head .blog-head-text h1 {
  font-size: 32px;
  letter-spacing: -1px;
  color: #343a3b;
  font-family: monsterat;
  font-weight: bold;
  line-height: 0px;
}
.blog-section .blog-head .blog-head-btn {
  padding-top: 110px;
  padding-left: 58px;
}
.blog-section .blog-head .blog-head-btn .btn-0 {
  font-size: 12px;
  letter-spacing: -1px;
  color: #606668;
  font-family: monsterat;
  font-weight: 400;
  width: 140px;
  height: 33px;
  border-radius: 16px;
  border: 2px solid #ffac56;
  padding: 7px 37px 7px 35px;
  transition: 1s;
}
.blog-section .blog-head .blog-head-btn .btn-0:hover {
  transform: scale(1.3);
  z-index: 3;
}
.blog-section .blog-head .blog-head-btn .btn-1 {
  font-size: 12px;
  letter-spacing: -1px;
  color: #606668;
  font-family: monsterat;
  font-weight: 400;
  width: 140px;
  height: 33px;
  border-radius: 16px;
  border: 2px solid #989fa0;
  padding: 6px 18px 7px 19px;
  transition: 1s;
}
.blog-section .blog-head .blog-head-btn .btn-1:hover {
  transform: scale(1.3);
  z-index: 1;
}
.blog-section .blog-1 {
  width: 40%;
}
.blog-section .blog-1 .blog-1-text {
  padding: 49px 0 0 0;
}
.blog-section .blog-1 .blog-1-text p {
  font-size: 15px;
  font-family: dmine;
  color: #343a3b;
  font-weight: 400;
  line-height: 0px;
}
.blog-section .blog-1 .blog-1-text span {
  font-size: 15px;
  font-family: domine;
  font-weight: 400;
  color: #16d428;
}
.blog-section .blog-1 .blog-1-text h3 {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 33px;
  color: #343a3b;
  font-weight: 700;
  font-family: "Montserrat";
}
.blog-section .blog-1 .blog-1-text .blog-p {
  font-size: 15px;
  line-height: 28px;
  color: #838b8c;
  font-weight: 400;
  font-family: domine;
}
.blog-section .blog-2 {
  width: 40%;
  padding-top: 52px;
}
.blog-section .blog-2 .blog-2-text p {
  font-size: 15px;
  font-family: dmine;
  color: #343a3b;
  font-weight: 400;
  line-height: 0px;
  word-break: break-all;
}
.blog-section .blog-2 .blog-2-text h3 {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 33px;
  color: #343a3b;
  font-weight: 700;
  font-family: "Montserrat";
}
.blog-section .blog-2 .blog-2-text .blog-p {
  font-size: 15px;
  line-height: 28px;
  color: #838b8c;
  font-weight: 400;
  font-family: domine;
}
.blog-section .blog-3 {
  width: 40%;
  padding-top: 49px;
}
.blog-section .blog-3 p {
  font-size: 15px;
  font-family: dmine;
  color: #343a3b;
  font-weight: 400;
  line-height: 0px;
  word-break: break-all;
}
.blog-section .blog-3 h3 {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 33px;
  color: #343a3b;
  font-weight: 700;
  font-family: "Montserrat";
}
.blog-section .blog-3 .blog-p {
  font-size: 15px;
  line-height: 28px;
  color: #838b8c;
  font-weight: 400;
  font-family: domine;
}
.blog-section .blog-img {
  width: 60%;
  height: 747px;
}
.blog-section .blog-img img {
  width: 100%;
  height: 747px;
  object-fit: cover;
  max-width: 100%;
}

.contact-section .contact-head {
  padding-top: 88px;
}
.contact-section .contact-head p {
  font-size: 14px;
  font-family: monsterat;
  font-weight: bold;
  color: #898e8f;
}
.contact-section .contact-head h1 {
  font-size: 20px;
  font-family: monsterat;
  font-weight: 400;
  color: black;
}
.contact-section .contacts {
  padding-top: 20px;
}
.contact-section .card {
  width: 360px;
  height: 130px;
  border: none;
  padding-top: 29px;
  margin: 0 16px;
  border: 1px solid #e0e9ec;
}
.contact-section .card .col-md-8 h5 {
  font-size: 18px;
  color: #343a3b;
  font-family: monsterat;
  font-weight: bold;
  padding-top: 10px;
  display: inline-block;
}
.contact-section .card .col-md-8 p {
  font-size: 18px;
  color: black;
  font-family: domine;
  padding-bottom: 65px;
  font-weight: 400;
  display: inline-block;
  line-height: 0px;
}
.contact-section .card .col-md-4 {
  padding: 0 0 0 0 !important;
}
.contact-section .card .col-md-4 .logo {
  padding: 13px 0 0 34px;
}
.contact-section .card .card-body {
  padding: 0 0 0 0;
}

footer {
  margin-top: 89px;
  background-color: #252729;
}
footer .col {
  margin-top: 90px;
}
footer .col h5 {
  font-size: 20px;
  font-family: monsterat;
  font-weight: bold;
  color: #e1e1e1;
}
footer .col p {
  color: #838b8c;
  font-size: 15px;
  font-weight: 400;
  font-family: domine;
  padding-top: 17px;
}
footer .form-control {
  border-radius: 26px;
  background-color: #323334;
  border: none;
}
footer .input-group {
  margin-top: 39px;
}
footer button {
  width: 154px;
  height: 52px;
  border-radius: 26px;
  background-color: #16d428;
  border: none;
}
footer .col-6 {
  margin-top: 90px;
}
footer .col-6 .list-unstyled {
  margin-top: 29px;
}
footer .col-6 h5 {
  color: #e1e1e1;
}
footer .col-6 a {
  color: #838b8c;
}
footer hr {
  width: 1140px;
  height: 1px;
  color: #64737a;
  max-width: 100%;
}
footer .footer-text P {
  font-family: domine;
  font-size: 15px;
  color: #838b8c;
  padding-bottom: 52px;
}

@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  .featured .col-lg-6 {
    width: 50%;
  }
  .featured .col-lg-12 {
    width: 50%;
  }

  .blog-section {
    background-image: none;
  }
  .blog-section .blog-head-text {
    margin-left: 300px;
    display: inline-block;
  }
  .blog-section .blog-1 {
    margin-left: 300px;
    width: 50%;
  }
  .blog-section .blog-2 {
    margin-left: 300px;
    width: 50%;
  }
  .blog-section .blog-3 {
    margin-left: 300px;
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .sub-nav .row {
    justify-content: center;
  }
  .sub-nav .row .col-3 {
    width: 50%;
  }
  .sub-nav .row .col-2 {
    width: 50%;
  }
  .sub-nav .row .sub-nav .row .phone {
    padding-right: 50px;
  }

  .featured .col-lg-6.left {
    width: 50%;
  }
  .featured .col-lg-6 {
    width: 49%;
  }
  .featured .col-lg-12 {
    width: 100%;
  }

  .blog-section {
    background-image: none;
  }
  .blog-section .blog-head-text {
    margin-left: 300px;
    display: inline-block;
  }
  .blog-section .blog-1 {
    margin-left: 300px;
    width: 50%;
  }
  .blog-section .blog-2 {
    margin-left: 300px;
    width: 50%;
  }
  .blog-section .blog-3 {
    margin-left: 300px;
    width: 50%;
  }

  .contact-section .card {
    width: 300px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 780px) {
  .sub-nav {
    max-width: 100%;
  }
  .sub-nav .row {
    justify-content: center;
  }
  .sub-nav .row .col-3 {
    width: 50%;
  }
  .sub-nav .row .col-2 {
    width: 50%;
  }
  .sub-nav .row .sub-nav .row .phone {
    padding-right: 50px;
  }

  .sliders .card-body {
    text-align: center;
  }
  .sliders .industrys {
    height: 520px;
    margin-top: 80px;
    margin-left: 50px;
  }
  .sliders .card i {
    padding: 0 0 0 0;
  }

  .description .promo .des-img {
    position: relative;
  }
  .description .promo .des-img .logo {
    display: none;
  }

  .featured .col-lg-6 {
    width: 100%;
    max-width: 100%;
  }
  .featured .col-lg-6 .left-img .big-img {
    height: 300px !important;
    object-fit: cover;
    background-position: top;
  }
  .featured .col-lg-6.right {
    width: 100%;
    max-width: 100%;
  }
  .featured .col-lg-6.right .small-img {
    object-fit: cover;
  }
  .featured .col-lg-12 {
    display: none;
  }

  .triangle {
    display: none;
  }

  .triangle-up-1 {
    display: none;
  }

  .blog-section {
    background-image: none;
  }
  .blog-section .blog-head-text {
    margin-left: 250px;
    display: inline-block;
  }
  .blog-section .blog-1 {
    margin-left: 250px;
    width: 50%;
  }
  .blog-section .blog-2 {
    margin-left: 250px;
    width: 50%;
  }
  .blog-section .blog-3 {
    margin-left: 250px;
    width: 50%;
  }

  .contact-head {
    display: flex;
    justify-content: center;
  }

  .row {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 780px) and (min-width: 415px) {
  .sub-nav {
    max-width: 100%;
  }
  .sub-nav .row {
    justify-content: center;
  }
  .sub-nav .row .col-3 {
    width: 50%;
  }
  .sub-nav .row .col-2 {
    width: 50%;
  }
  .sub-nav .row .sub-nav .row .phone {
    padding-right: 50px;
  }
  .sub-nav .row span {
    padding: 0 0 0 0 !important;
  }

  .sliders .carousel-item {
    display: none;
  }
  .sliders button {
    display: none;
  }
  .sliders .industrys {
    display: block;
    height: 520px;
  }
  .sliders .industrys .title {
    width: 380px;
  }
  .sliders .industrys .title h1 {
    font-size: 20px;
  }
  .sliders .industrys .col .card {
    height: 100px;
    width: 190px;
  }
  .sliders .industrys .col .card .card-body {
    height: 90px;
    padding: 0 0 0 0;
  }
  .sliders .industrys .col .btn {
    padding: 6px 17px 6px 17px !important;
  }
  .sliders .card i {
    padding: 0 0 0 0;
  }

  .description .promo {
    display: block;
  }
  .description .promo .col {
    width: 100%;
    max-width: 100%;
  }
  .description .promo .des-img {
    display: none;
  }

  .featured {
    margin-top: 400px;
    display: block;
  }
  .featured .triangle {
    display: none;
  }
  .featured .triangle-up-1 {
    display: none;
  }
  .featured .col-lg-6 {
    width: 100%;
    max-width: 100%;
  }
  .featured .col-lg-6 .left-img .big-img {
    height: 200px !important;
    object-fit: cover;
    background-position: top;
  }
  .featured .col-lg-6.right {
    width: 100%;
    max-width: 100%;
  }
  .featured .col-lg-6.right .small-img {
    object-fit: cover;
  }

  .test {
    margin-top: 500px;
  }
  .test .test .carousel-indicators {
    display: none;
  }
  .test .carousel-item {
    display: none;
  }
  .test button {
    display: none;
  }
  .test hr {
    display: none;
  }
  .test .text-uppercase P {
    padding: 0 0 0 0 !important;
    color: #000000 !important;
    font-family: monsterat;
    font-size: 14px;
    font-weight: 400;
  }
  .test .text-uppercase h1 {
    color: #000000 !important;
    font-weight: 400;
    font-family: monsterat;
    font-size: 20px;
    line-height: 1px;
  }
  .test .testimonials-text {
    padding-top: 20px;
  }
  .test .testimonials-text .row {
    display: block;
  }
  .test .testimonials-text .first-img {
    display: nnoe;
  }
  .test .testimonials-text .second-img {
    display: none;
  }
  .test .testimonials-text .text {
    width: 100%;
  }
  .test .testimonials-text .text p {
    color: #000000 !important;
    padding: 0 0 0 0 !important;
  }
  .test .card {
    width: 100%;
    height: 100px;
    background-color: #eff5f7;
    border: none;
    padding-top: 29px;
  }
  .test .card .logo {
    border-radius: 50px;
    margin-left: auto;
  }
  .test .card .col-md-8 .card-body {
    display: none;
  }

  .blog-section {
    background-image: none;
  }
  .blog-section .blog-head-text {
    padding: 10px 0 0 0 !important;
    display: block;
  }
  .blog-section .blog-head-text h1 {
    font-size: 20px !important;
  }
  .blog-section .blog-head-btn {
    display: block;
    padding: 10px 0 0 0 !important;
  }
  .blog-section .blog-1 {
    width: 50%;
  }
  .blog-section .blog-2 {
    width: 50%;
  }
  .blog-section .blog-3 {
    width: 50%;
  }
  .blog-section .btn-1 {
    width: 100px !important;
    padding: 3px 9px 4px 9px !important;
    transition: 1s;
  }
  .blog-section .btn-1:hover {
    display: none;
  }
  .blog-section .btn-0 {
    width: 100px !important;
    padding: 3px 9px 4px 9px !important;
    transition: 1s;
  }
  .blog-section .btn-0:hover {
    display: none;
  }
  .blog-section .blog-1 {
    width: 100%;
    max-width: 100%;
  }
  .blog-section .blog-2 {
    width: 100%;
    max-width: 100%;
  }
  .blog-section .blog-3 {
    width: 100%;
    max-width: 100%;
  }

  .contact-head {
    display: flex;
    justify-content: center;
  }
  .contact-head .row {
    display: flex;
    justify-content: center;
  }

  footer {
    display: block;
  }
  footer button {
    display: none;
  }
}
@media only screen and (max-width: 415px) {
  .sub-nav {
    max-width: 100%;
  }
  .sub-nav .row {
    justify-content: center;
  }
  .sub-nav .row .col-3 {
    width: 50%;
  }
  .sub-nav .row .col-2 {
    width: 50%;
  }
  .sub-nav .row .sub-nav .row .phone {
    padding-right: 50px;
  }
  .sub-nav .row span {
    padding: 0 0 0 0 !important;
  }

  .sliders .carousel-item {
    display: none;
  }
  .sliders button {
    display: none;
  }
  .sliders .industrys {
    display: block;
    height: 520px;
  }
  .sliders .industrys .title {
    width: 380px;
  }
  .sliders .industrys .title h1 {
    font-size: 20px;
  }
  .sliders .industrys .col .card {
    height: 100px;
    width: 190px;
  }
  .sliders .industrys .col .card .card-body {
    height: 90px;
    padding: 0 0 0 0;
  }
  .sliders .industrys .col .btn {
    padding: 6px 17px 6px 17px !important;
  }
  .sliders .card i {
    padding: 0 0 0 0;
  }

  .description .promo {
    display: block;
  }
  .description .promo .col {
    width: 100%;
    max-width: 100%;
  }
  .description .promo .des-img {
    display: none;
  }

  .featured {
    margin-top: 400px;
    display: block;
  }
  .featured .triangle {
    display: none;
  }
  .featured .triangle-up-1 {
    display: none;
  }
  .featured .col-lg-6 {
    width: 100%;
    max-width: 100%;
  }
  .featured .col-lg-6 .left-img .big-img {
    height: 200px !important;
    object-fit: cover;
    background-position: top;
  }
  .featured .col-lg-6.right {
    width: 100%;
    max-width: 100%;
  }
  .featured .col-lg-6.right .small-img {
    object-fit: cover;
  }

  .test {
    margin-top: 500px;
  }
  .test .test .carousel-indicators {
    display: none;
  }
  .test .carousel-item {
    display: none;
  }
  .test button {
    display: none;
  }
  .test hr {
    display: none;
  }
  .test .text-uppercase P {
    padding: 0 0 0 0 !important;
    color: #000000 !important;
    font-family: monsterat;
    font-size: 14px;
    font-weight: 400;
  }
  .test .text-uppercase h1 {
    color: #000000 !important;
    font-weight: 400;
    font-family: monsterat;
    font-size: 20px;
    line-height: 1px;
  }
  .test .testimonials-text {
    padding-top: 20px;
  }
  .test .testimonials-text .row {
    display: block;
  }
  .test .testimonials-text .first-img {
    display: nnoe;
  }
  .test .testimonials-text .second-img {
    display: none;
  }
  .test .testimonials-text .text {
    width: 100%;
  }
  .test .testimonials-text .text p {
    color: #000000 !important;
    padding: 0 0 0 0 !important;
  }
  .test .card {
    width: 100%;
    height: 100px;
    background-color: #eff5f7;
    border: none;
    padding-top: 29px;
  }
  .test .card .logo {
    border-radius: 50px;
    margin-left: auto;
  }
  .test .card .col-md-8 .card-body {
    display: none;
  }

  .blog-section {
    background-image: none;
  }
  .blog-section .blog-head-text {
    padding: 10px 0 0 0 !important;
    display: block;
  }
  .blog-section .blog-head-text h1 {
    font-size: 20px !important;
  }
  .blog-section .blog-head-btn {
    display: block;
    padding: 10px 0 0 0 !important;
  }
  .blog-section .blog-1 {
    width: 50%;
  }
  .blog-section .blog-2 {
    width: 50%;
  }
  .blog-section .blog-3 {
    width: 50%;
  }
  .blog-section .btn-1 {
    width: 100px !important;
    padding: 3px 9px 4px 9px !important;
    transition: 1s;
  }
  .blog-section .btn-1:hover {
    display: none;
  }
  .blog-section .btn-0 {
    width: 100px !important;
    padding: 3px 9px 4px 9px !important;
    transition: 1s;
  }
  .blog-section .btn-0:hover {
    display: none;
  }
  .blog-section .blog-1 {
    width: 100%;
    max-width: 100%;
  }
  .blog-section .blog-2 {
    width: 100%;
    max-width: 100%;
  }
  .blog-section .blog-3 {
    width: 100%;
    max-width: 100%;
  }

  .contact-head {
    display: flex;
    justify-content: center;
  }
  .contact-head .row {
    display: flex;
    justify-content: center;
  }

  footer {
    display: block;
  }
  footer button {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
