
            .triangle{
                width: 56px;
                height: 56px;
                position: relative;
                border-bottom: 56px solid #03b5e7;
                border-right: 56px solid #ffffff00;
                top:-56px;
                 a{
                    position: absolute;
                    padding-top: 25px ;
                    padding-left: 10px;
                    display: inline-block;
                    
                }
            }
        
